{% load i18n %}

<h4><span class="glyphicon glyphicon-list-alt"></span>{% if memo %}{% trans "All employees" %}{% else %}{{ employee }}{% endif %}</h4>
<hr>
<div class="panels">
<p>{% if memo %}i{% trans "Memorandum" %}{% else %}{% trans "WriteUp" %}{% endif %}</p>
{% if memo %}
<form action="{% url "clock_edit_writeup" pk=form.user_id.value opt='m' %}" method="POST">
{% else %}
<form action="{% url "clock_edit_writeup" pk=form.user_id.value opt='' %}" method="POST">
{% endif %}
  {% csrf_token %}
    {{ form.as_p}}
  <input id="save_writeup"  type="submit" value={% trans "Save" %} />
</form>
</div>
